---
layout: archive
---

{{ content }}
  <body>
    <h1>Jingu Hwang</h1>
    <strong>Welcome to my homepage</strong>
    <p>I am Jingu Hwang(황진구; 黃進九), graduate student in <a href="https://mathsci.kaist.ac.kr/" target="_blank" rel="norefferer noopener nofollow">Department of Mathematical Science in KAIST</a>.</p>
    <p>My research advisor is <a href="https://sites.google.com/view/ksnam" target="_blank" rel="norefferer noopener nofollow">Kyeongsik Nam</a>.</p>

    <p>My research interest is probability theory, especially in</p>
    <ul>
    	<li>Gaussian free field,</li>
      <li>random interface theory,</li> 
      <li>statistical dynamics,</li>   	
    	<li>and related topics.</li>
    </ul>

    <p>E-mail address: <span style="font-family: Menlo, Consolas, 'Liberation Mono', monospace;">j9hwang[at]kaist[dot]ac[dot]kr</span></p>
  </body>


