---
layout: archive
---

{{ content }}
  <body>
    <h1>Jingu Hwang</h1>
    <strong>Welcome to my homepage</strong>
    <p>I am Jingu Hwang (황진구; 黃進九), a graduate student in the <a href="https://mathsci.kaist.ac.kr/" target="_blank" rel="norefferer noopener nofollow">Department of Mathematical Sciences at KAIST</a>.</p>
    <p>My research advisor is <a href="https://sites.google.com/view/ksnam" target="_blank" rel="norefferer noopener nofollow">Kyeongsik Nam</a>.</p>

    <p>My research interests are in probability theory, especially:</p>
    <ul>
    	<li>Gaussian free field,</li>
      <li>random interface theory,</li> 
      <li>statistical dynamics,</li>   	
    	<li>related topics.</li>
    </ul>

    <p>E-mail address: <span style="font-family: Menlo, Consolas, 'Liberation Mono', monospace;">j9hwang[at]kaist[dot]ac[dot]kr</span></p>
  </body>


